# Part I

## Introduction
hihi

## Population Parameters

## SRS

## Stratified Sampling

## Analysis and Comparison

In [1]:
library(tidyverse)
library(GGally)
adult <- read.csv("adult.data", header = FALSE)
column_names <- c("age",
                  "workclass",
                  "final_weight",
                  "education", 
                  "education_num",
                  "marital_status",
                  "occupation",
                  "relationship",
                  "race",
                  "sex",
                  "capital_gain", 
                  "capital_loss", 
                  "hours_per_week", 
                  "native_country",
                  "income")
adult <- setNames(adult, column_names)

Warning message in system("timedatectl", intern = TRUE):
“running command 'timedatectl' had status 1”
── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.1.3     ✔ stringr 1.4.0
✔ readr   2.1.1     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Registered S3 method overwritten by 'GGally':
  method from
  +.gg   ggplot2

In [2]:
head(adult)

  age workclass         final_weight education  education_num
1 39   State-gov         77516        Bachelors 13
2 50   Self-emp-not-inc  83311        Bachelors 13
3 38   Private          215646        HS-grad    9
4 53   Private          234721        11th       7
5 28   Private          338409        Bachelors 13
6 37   Private          284582        Masters   14
  marital_status      occupation         relationship   race   sex
1  Never-married       Adm-clerical       Not-in-family  White  Male
2  Married-civ-spouse  Exec-managerial    Husband        White  Male
3  Divorced            Handlers-cleaners  Not-in-family  White  Male
4  Married-civ-spouse  Handlers-cleaners  Husband        Black  Male
5  Married-civ-spouse  Prof-specialty     Wife           Black  Female
6  Married-civ-spouse  Exec-managerial    Wife           White  Female
  capital_gain capital_loss hours_per_week native_country income
1 2174         0            40              United-States  <=50K
2    0         0            13              United-States  <=50K
3    0         0            40              United-States  <=50K
4    0         0            40              United-States  <=50K
5    0         0            40              Cuba           <=50K
6    0         0            40              United-States  <=50K

## Discussion

## Conclusion

# Part II